@import url("https://www.nerdfonts.com/assets/css/webfont.css");

@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-Text.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-TextItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-MediumItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-SemiBoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "BlexMono";
    src: url("../public/fonts/BlexMonoNerdFontMono-BoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}