:root {
    --background-color: #1B1B1B;
    --primary-color: #4ADEDE;
    --secondary-color: #FF6464;

    --primary-text-color: #F5F5F5;
    --secondary-text-color: #CCCCCC;
    --highlight-text-color: #FFC107;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'BlexMono', monospace;
    margin: 0;
    padding: 0;
}

/* Extra-Small (XS): Less than 576px (e.g., portrait phones) */

/* Small (SM): 576px and up (e.g., landscape phones) */

/* Medium (MD): 768px and up (e.g., tablets) */

/* Large (LG): 992px and up (e.g., laptops) */

/* Extra-Large (XL): 1200px and up (e.g., desktops) */

/* Extra Extra-Large (XXL): 1400px and up (e.g., large desktops) */