.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10vh;
}

.login-form {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    min-width: 300px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
}

.login-heading {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.login-form input {
    font-family: "BlexMono";
    background-color: var(--background-color);
    color: var(--primary-text-color);

    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}

.login-form .password-container {
    margin-top: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.login-form .password-container:focus-within {
    border: 1px solid var(--primary-color);
}

.login-form .password-container input {
    border: none;
    margin: 0px;
    flex-grow: 1;
}

.login-form .error-msg {
    color: var(--highlight-text-color);
    font-size: 10px;
    margin: 0px;
}

.login-form button {
    margin-top: 10px;
}

.info-msg {
    color: var(--highlight-text-color);
    font-size: 12px;
    margin-top: 10px;
}